* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

#editor {
  min-height: 250px;
}

#logs {
  height: 100px;
  background-color: #151519;
  color: mediumaquamarine;
  padding: 0.5rem;
  overflow-y: auto;
}

#controls {
  background-color: #151519;
  color: #f8f8f8;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.section-title {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #202025;
  color: #f8f8f8;
  padding: 0.5rem;
  text-align: center;
}

#controls button {
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 0.5rem;
  border: none;
  font-weight: bold;
  transition: 0.3s background;
}

#buttons {
  display: flex;
}

#clear-btn {
  background-color: #b317f5;
  color: #f8f8f8;
}

#clear-btn:hover {
  background-color: #7911a6;
}

#run-btn {
  background-color: #48ffc2;
  color: #151519;
}

#run-btn:hover {
  background-color: #29916e;
}

.preview {
  position: relative;
}
